<page-header pageTitle="{{ recipeName }}">
  <!-- Desktop -->
  <!-- <ion-buttons slot="secondary" toolbar>
    <ion-button title="Edit recipe">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>
    <ion-button title="Export recipe">
      <ion-icon slot="icon-only" name="send-outline"></ion-icon>
    </ion-button>
  </ion-buttons> -->
</page-header>

<!-- TODO: use recipe-card component instead -->
<ion-content>
  <ion-card>
    <ion-card-content>
      <img src="/assets/img/falafel.png" alt="tasty falafel balls">
      <p>
        <ion-card-header>Fallafels</ion-card-header>
        <ion-list>
          <ion-item>Chickpeas</ion-item>
          <ion-item>Onions</ion-item>
          <ion-item>Garlic</ion-item>
          <ion-item>Coriander</ion-item>
          <ion-item>Cumin</ion-item>
          <ion-item>Flour</ion-item>
          <ion-item>Salt</ion-item>
          <ion-item>Pepper</ion-item>
          </ion-list>
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea/>
    </ion-item>
  </ion-list>

  <!-- Smartphone -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" title="Click to export the recipe">
      <ion-icon name="send-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
  
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="primary"  title="Click to edit the recipe">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
  
</ion-content>