<page-header pageTitle="{{ recipeName }}">
  <!-- Desktop -->
  <!-- <ion-buttons slot="secondary" toolbar>
    <ion-button title="Edit recipe">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>
    <ion-button title="Export recipe">
      <ion-icon slot="icon-only" name="send-outline"></ion-icon>
    </ion-button>
  </ion-buttons> -->
</page-header>

<!-- TODO: use recipe-card component instead -->
<ion-content>
  <ion-card>
    <ion-card-content>
      <img src="/assets/img/falafel.png" alt="tasty falafel balls">
      <p>
        <ion-card-header>Ingredients</ion-card-header>
        <ion-list>
          <ion-item *ngFor="let ingredient of ingredients">{{ ingredient }}</ion-item>
          </ion-list>
      </p>
    </ion-card-content>
  </ion-card>
<ion-card>
<ion-card-header>Instructions</ion-card-header>
    <ion-card-content>
    <ion-list>
      <ion-item>1. Mix all the ingredients</ion-item>
      <ion-item>2. Fry the balls</ion-item>
      <ion-item>3. Enjoy!</ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card>
<ion-card-content>
  <ion-list>
    <ion-item lines="inset">
      <ion-textarea label="Notes" labelPlacement="floating" value="Nice recipe, it was fun to make!"/>
    </ion-item>
  </ion-list>
</ion-card-content>
</ion-card>

<!-- Smartphone -->

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="primary" title="Click to export the recipe" (click)="exportRecipe()">
      <ion-icon name="send-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> 

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="primary"  title="Click to edit the recipe" (click)="editRecipe()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
  
</ion-content>