<ion-content>
  <page-header pageTitle="Paramètres">
    <ion-toolbar>
      <ion-searchbar
        secondary-toolbar
        placeholder="Chercher dans les paramètres"
        show-clear-button="focus"
      ></ion-searchbar>
    </ion-toolbar>
  </page-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Personnalisez vos informations</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form>
        <ion-grid>
          
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input
                  label="Nom"
                  labelPlacement="floating"
                  placeholder="Entrez votre nom"
                />
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Date de naissance</ion-label>
                <ion-datetime-button datetime="datetime"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime
                      id="datetime"
                      min="2022-01-01"
                      presentation="date"
                    >
                  </ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input type="file" label="Avatar" labelPlacement="floating" placeholder="Select your avatar"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col >
              <ion-item >
                <ion-button  size="full" color="primary" (click)="save()">Enregistrer</ion-button> 
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>



</ion-content>
