<ion-header>
  <page-header pageTitle="New recipe"></page-header>
</ion-header>

<ion-content>
    
<!-- desktop UI:
  <ion-card>
    <ion-card-header>Import a recipe</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="inset">
          <ion-input label="Select a recipe file" labelPlacement="floating" name="import" type="file" accept=".recipe"/>
        </ion-item>
    </ion-card-content>
  </ion-card>
   -->

  <ion-card>
    <ion-card-header>Edit recipe</ion-card-header>
    <ion-card-content>
      <ion-item>
        <form [formGroup]="form">
          <ion-list>
            <ion-item lines="inset">
              <!-- <ion-label position="floating">Recipe name</ion-label> -->
              <ion-input label="Name" labelPlacement="floating"></ion-input>
            </ion-item>
            <ion-item lines="inset">
      
              <!-- <ion-label position="floating">Difficulty</ion-label> -->
              <ion-select label="Difficulty" labelPlacement="floating">
                <ion-select-option value="easy">Easy</ion-select-option>
                <ion-select-option value="medium">Medium</ion-select-option>
                <ion-select-option value="hard">Hard</ion-select-option>
              </ion-select>
  
            </ion-item>
            <ion-item lines="inset">
              <!-- <ion-label position="floating">Ingredients</ion-label> -->
              <ion-textarea label="Ingredients" labelPlacement="floating"/>
            </ion-item>
            <ion-item lines="inset">
              <!-- <ion-label position="floating">Steps</ion-label> -->
              <ion-textarea label="Steps" labelPlacement="floating"/>
            </ion-item>
            <ion-item lines="inset">
              <!--TODO, see: https://forum.ionicframework.com/t/datetime-picker-hours-minutes-ex-3-hours-10-minutes/58364 -->
                <ion-input label="Duration" labelPlacement="floating" type="time" labelPlacement="floating" ></ion-input>
            </ion-item>
            <ion-item lines="inset">
              <ion-input label="Picture" labelPlacement="floating" type="file"></ion-input>
            </ion-item>
          </ion-list>
        </form>
  
      </ion-item>
      <ion-button size="full" color="primary" (click)="createRecipe()">Save</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" title="Click to import a recipe" (click)="importRecipe()">
      <ion-icon name="download-outline"></ion-icon>
    </ion-fab-button>
    <!-- Scan QR code if supported by the OS -->
    <ion-fab-button (click)="scan()" [disabled]="!isSupported" *ngIf="isSupported">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
</ion-content>
