<ion-content>
  <page-header pageTitle="Login"></page-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Name
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
   <ion-input label="Name" labelPlacement="floating" placeholder="Enter your name"></ion-input>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>
        Do you like spicy food?
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
     <ion-radio-group>
      <ion-item>
        <ion-radio value="spicy" slot="start">yes</ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio value="mild" slot="start">no</ion-radio>
      </ion-item>
     </ion-radio-group>
    </ion-card-content>
  </ion-card> -->

  <ion-button size="full" color="light" (click)="save()">Save settings</ion-button> 
   <!-- <ion-button size="full" color="light" (click)="register()">
    Register
   </ion-button>  -->
</ion-content>
