<page-header pageTitle="Home"></page-header>

<ion-content>
  <!-- Hidding profile card for now -->
  <!-- <ion-card (click)="goToProfile()">
    <ion-item>
      <ion-avatar slot="start"><img src="assets/img/avatar.jpg" alt="avatar"/></ion-avatar>
      <ion-label>
        <h2>Jane Doe</h2>
        <p>Level: <span class="level">12</span></p>
      </ion-label>
    </ion-item>
  </ion-card> -->

  <!-- todo: escape string -->
  <app-recipe-card 
  [showTitle]="true"
  [showNotes]="true" 
  [recipeName]="'Falafel Balls'" 
  [recipeDifficulty]="'Easy'" 
  [recipeImage]="'/assets/img/falafel.png'" 
  [recipeImageAlt]="'Tasty falafel balls'" 
  [recipeNotes]="'Wow! The falafels were amazing! I followed the recipe to the letter, and I have to say the result was delicious. The texture was perfect, and the flavors were well-balanced. I added a personal touch by using an extra spice blend, which gave it a delicious spicy note.'"
></app-recipe-card>





<button-new-recipe></button-new-recipe>
</ion-content>