.level{
    font-weight: bold;
}

.checkbox-checked{
    text-decoration: line-through;
    color: var(--ion-color-success);
}


// Nutriscore indicator inspired from Olivier QUESSON: https://codepen.io/coloribus/pen/qBrRmGJ
.nutriscore
{
	display: flex;
	font-family: arial;
	font-size: 15pt;
    font-weight: bold;
	place-items: center;
    --radius: .6em;
    color: rgba(255,255,255,.5);
    --score-A-color: rgb(3, 129, 65);
    --score-B-color: rgb(133, 187, 47);
    --score-C-color: rgb(254, 203, 2);
    --score-D-color: rgb(238, 129, 0);
    --score-E-color: rgb(230, 62, 17);
}
	
.nutriscore li{
	list-style: none;
	padding: .5em .5em;
}
	
.nutriscore :nth-child(1) {
    background: var(--score-A-color);
	border-radius: var(--radius) 0 0 var(--radius);
}
.nutriscore :nth-child(2){
	background: var(--score-B-color);
}
.nutriscore :nth-child(3)
{
	background: var(--score-C-color);
}
.nutriscore :nth-child(4)
{
	background: var(--score-D-color);
}
.nutriscore :nth-child(5)
{
	background: var(--score-E-color);
	border-radius: 0 var(--radius) var(--radius) 0;
}
.nutriscore [score]
{
	border: 2pt solid white;
	border-radius: .5em;
	color: white;
	font-size: 1.1em;
	margin: 0 -.3em;
	padding: .7em .5em;
	z-index: 1;
}