<page-header pageTitle="Accueil"></page-header>

<ion-content>
  <!-- Hidding profile card for now -->
  <!-- <ion-card (click)="goToProfile()">
    <ion-item>
      <ion-avatar slot="start"><img src="assets/img/avatar.jpg" alt="avatar"/></ion-avatar>
      <ion-label>
        <h2>Jane Doe</h2>
        <p>Level: <span class="level">12</span></p>
      </ion-label>
    </ion-item>
  </ion-card> -->

  <ion-card>
    <ion-card-header>
      Bonjour! Prêt à cuisiner?
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="cart-outline" color="primary"/>Liste de courses
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let article of shoppingList">
          <ion-checkbox justify="space-between"> {{ article }}</ion-checkbox>
        </ion-item>
      </ion-list>

      <ion-button color="primary" fill="clear" size="full" (click)="goToPantry()">Ouvrir le frigo</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- todo: escape string -->
  <app-recipe-card 
  [showTitle]="true"
  [showNotes]="true" 
  [recipeName]="'Boulettes de falafel'" 
  [recipeDifficulty]="'easy'"
  [recipeTime]="'30 min'"
  [recipeCalories]="'120kcal'"
  [recipeNutriScore]="'A'"
  [recipeImage]="'/assets/img/falafel.png'" 
  [recipeImageAlt]="'Tasty falafel balls'" 
  [recipeNotes]="'Wow ! Les falafels étaient incroyables ! La texture était parfaite et les saveurs étaient bien équilibrées.'"
></app-recipe-card>


<!-- <button-new-recipe></button-new-recipe> -->
</ion-content>