<ion-header>
  <page-header pageTitle="New recipe"></page-header>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Import a recipe</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="inset">
          <ion-label>Select a recipe file (.json)</ion-label>
          <ion-input type="file"></ion-input>
        </ion-item>
        <!-- Only on mobile -->
        <ion-item lines="inset" *ngIf="isSupported">
          <ion-label>Scan a QR Code</ion-label>
            <ion-button (click)="scan()" [disabled]="!isSupported">
            <ion-icon name="scan"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>Create a recipe</ion-card-header>
    <ion-card-content>
      <ion-item>
        <form [formGroup]="form">
          <ion-list>
            <ion-item lines="inset">
              <!-- <ion-label position="floating">Recipe name</ion-label> -->
              <ion-input label="Name" labelPlacement="floating"></ion-input>
            </ion-item>
            <ion-item lines="inset">
      
              <!-- <ion-label position="floating">Difficulty</ion-label> -->
              <ion-select label="Difficulty" labelPlacement="floating">
                <ion-select-option value="easy">Easy</ion-select-option>
                <ion-select-option value="medium">Medium</ion-select-option>
                <ion-select-option value="hard">Hard</ion-select-option>
              </ion-select>
  
            </ion-item>
            <ion-item lines="inset">
              <!-- <ion-label position="floating">Ingredients</ion-label> -->
              <ion-textarea label="Ingredients" labelPlacement="floating"/>
            </ion-item>
            <ion-item lines="inset">
              <!-- <ion-label position="floating">Steps</ion-label> -->
              <ion-textarea label="Steps" labelPlacement="floating"/>
            </ion-item>
            <ion-item lines="inset">
              <!--TODO, see: https://forum.ionicframework.com/t/datetime-picker-hours-minutes-ex-3-hours-10-minutes/58364 -->
                <ion-input label="Duration" labelPlacement="floating" type="time" labelPlacement="floating" ></ion-input>
            </ion-item>
            <ion-item lines="inset">
              <ion-input label="Picture" labelPlacement="floating" type="file"></ion-input>
            </ion-item>
          </ion-list>
        </form>
  
      </ion-item>
      <ion-button size="full" color="primary" (click)="createRecipe()">Save</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
