<ion-header>
  <page-header pageTitle="New recipe"></page-header>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Import a recipe</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="inset">
          <ion-label>Select a recipe file (.json)</ion-label>
          <ion-input type="file"></ion-input>
        </ion-item>
        <!-- Only on mobile -->
        <ion-item lines="inset" *ngIf="isSupported">
          <ion-label>Scan a QR Code</ion-label>
            <ion-button (click)="scan()" [disabled]="!isSupported">
            <ion-icon name="scan"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>Create a recipe</ion-card-header>
    <ion-card-content>
      <form [formGroup]="form">
        <ion-list>
          <ion-item lines="inset">
            <ion-label position="floating">Recipe name</ion-label>
            <ion-input ></ion-input>
          </ion-item>
          <ion-item lines="inset">
    
            <ion-label position="floating">Difficulty</ion-label>
            <ion-select>
              <ion-select-option value="easy">Easy</ion-select-option>
              <ion-select-option value="medium">Medium</ion-select-option>
              <ion-select-option value="hard">Hard</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="inset">
            <ion-label position="floating">Ingredients</ion-label>
            <ion-textarea />
          </ion-item>
          <ion-item lines="inset">
            <ion-label position="floating">Steps</ion-label>
            <ion-textarea />
          </ion-item>
          <ion-item lines="inset">
            <!--TODO, see: https://forum.ionicframework.com/t/datetime-picker-hours-minutes-ex-3-hours-10-minutes/58364 -->
              <ion-label>Duration</ion-label>
              <ion-input type="time" position="floating" value="00:00"></ion-input>
          </ion-item>
          <ion-item lines="inset">
            <ion-label>Recipe Picture</ion-label>
            <ion-input type="file"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button size="full" color="primary" (click)="createRecipe()">Save</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- Template for __viewing__ a single recipe:

<ion-header>

  <page-header pageTitle="Name of the recipe"></page-header>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <img src="/assets/img/fallafel.png" alt="tasty falafel balls">
      <p>
        <ion-card-header>Fallafels</ion-card-header>
        <ion-list>
          <ion-item>Chickpeas</ion-item>
          <ion-item>Onions</ion-item>
          <ion-item>Garlic</ion-item>
          <ion-item>Coriander</ion-item>
          <ion-item>Cumin</ion-item>
          <ion-item>Flour</ion-item>
          <ion-item>Salt</ion-item>
          <ion-item>Pepper</ion-item>
          </ion-list>
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea/>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="primary">Add recipe</ion-button>
</ion-content>

-->
